<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Function
      <!-- Single button -->
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to("Sort by Wage Floor", jobs_path(:order => "by_lower_bound")) %></li>
          <li><%= link_to("Sort by Salary Cap", jobs_path(:order => "by_upper_bound")) %></li>
          <li><%= link_to("Sort by Date Posted", jobs_path ) %></li>
        </ul>
          <%= link_to("Add a job", new_job_path, :class => "btn btn-success btn-xs" ) %>
      </div>
    </h3>
  </div>

  <div class="panel-body">
    <table class="table table-boldered">

      <!--crchi jobs-->
      <div class="news_lymain fix">
        <div class="job_main fix">
          <div class="job_menu">
            <ul class="fix">
              <li class="cur">
                <a href="/jobs">New<i></i>
                </a>
              </li>
              <li class="cur">
                <a href="/jobs">Fat salary<i></i>
                </a>
              </li>
              <li class="cur">
                <a href="/jobs">Overseas<i></i>
                </a>
              </li>
              <li class="cur">
                <a href="/jobs">Domestic<i></i>
                </a>
              </li>
            </ul>
          </div>

          <% @jobs.each do |job| %>
            <tr>
              <div class="job_list" style="
                padding-right: 50px;
                padding-left: 200px;
                ">
                <div class="JobList-J2">
                  <div class="_jt _jt_act">
                    <p class="title">
                      <%= link_to(job.title, job_path(job)) %>
                    </p>
                  </div>
                  <div class="_jc" style="display: block;">
                    <div class="_jcon">
                      <div class="job_tt job_place">
                        <strong>Location：</strong>
                        <%=   %>
                      </div>
                      <div class="job_tt job_num">
                        <strong>Recruiting Numbers：</strong>
                        <%=   %>
                      </div>
                      <div class="job_tt">
                        <p>
                          <strong>Compensation Package：</strong>
                          <%= job.wage_lower_bound %>$
                          -
                          <%= job.wage_upper_bound %>$
                        </p>
                      </div>
                      <div class="job_tt">
                        <p>
                          <strong>Published At：</strong>
                          <%= job.created_at %>
                        </p>
                        <div class="job_nr"></div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </tr>
        </div>
      </div>
      <% end %>
    </table>
  </div>
</div>
