<div class="panel panel-success col-md-6">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      <h1> Add a job </h1>

      <%= simple_form_for @job do |f| %>

      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :wage_lower_bound, :label => "Wage Floor" %>
      <%= f.input :wage_upper_bound, :label => "Salary Cap" %>
      <%= f.input :contact_email %>
      <%= f.input :is_hidden %>

        <%= f.submit "Submit" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
