<div class="col-md-12">
   <div class="row metro">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">Metro</h1>
       <p class="slogan"> Going underground for mobility in our cities
       </p>
       <p class="lead">
         <%= link_to 'Join Us', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>

<!-- <div class="row">
 <div class="col-xs-6 col-md-3">
   <a href="/jobs" class="thumbnail">
     <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
   </a>
 </div>
 <div class="col-xs-6 col-md-3">
   <a href="/jobs" class="thumbnail">
     <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
   </a>
 </div>
 <div class="col-xs-6 col-md-3">
   <a href="/jobs" class="thumbnail">
     <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
   </a>
 </div>
 <div class="col-xs-6 col-md-3">
   <a href="/jobs" class="thumbnail">
     <%= image_tag 'pic-4.jpg', class: 'img-responsive' %>
   </a>
 </div>
</div> -->
