<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-7 col-md-offset-1">
       <h1 class="title">Super Tunnel</h1>
       <p class="slogan"> Provide worldwide tunnel construction jobs
       </p>
       <p class="lead">
         <%= link_to 'Join Us', jobs_path, class: 'btn btn-info' %>
       </p>
     </div>
   </div>
 </div>

 <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Metro</h2>
          <p class="lead">Going underground for mobility in our cities</p>
          <p>
            <a href="/metro" class="btn btn-primary" role="button">
              <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>Metro</a>
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Road</h2>
          <p class="lead">High-tech tunnelling for safe highways</p>
          <p>
            <a href="/road" class="btn btn-success" role="button">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Road</a>
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Railway</h2>
          <p class="lead">Innovative tunnelling for fast and easy journeys</p>
          <p>
            <a href="/railway" class="btn btn-info" role="button">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Railway</a>
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-4.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("pic-2.jpg", :alt => "Smiley face") %>
      <div class="caption">
        <h3>Metro</h3>
        <p>Going underground for mobility in our cities</p>
        <p>
          <a href="/metro" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>Metro</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("pic-3.jpg", :alt => "Smiley face") %>
      <div class="caption">
        <h3>Road</h3>
        <p>High-tech tunnelling for safe highways</p>
        <p>
          <a href="/road" class="btn btn-success" role="button">
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Road</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("pic-4.jpg", :alt => "Smiley face") %>
      <div class="caption">
        <h3>Railway</h3>
        <p>Innovative tunnelling for fast and easy journeys</p>
        <p>
          <a href="/railway" class="btn btn-info" role="button">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Railway</a>
        </p>
      </div>
    </div>
  </div>
</div> -->

<!--cooperation-->
        <div class="our-coop">
          <div class="container">
            <div class="row">
              <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                  <h2 class="brand-title">Cooperation Partners</h2>
                  <%= image_tag("crcc.png") %>
                  <%= image_tag("Herrenknecht.png") %>
                  <%= image_tag("crec.png") %>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--end-->

<!-- <div class="panel panel-warning" style="margin-bottom: 100px;">
  <div class="panel-heading">
   <h3 class="panel-title">Tunnel Construction Jobs</h3>
    </div>
      <div class="well well-sm">
        <table class="table table-boldered">

          <div class="list-group">
            <a href="/jobs" class="list-group-item list-group-item-danger">
              <span class="badge">14</span>New</a>
            <a href="/jobs" class="list-group-item list-group-item-success">
              <span class="badge">7</span>Fat salary</a>
            <a href="/jobs" class="list-group-item list-group-item-info">
              <span class="badge">6</span>Overseas</a>
            <a href="/jobs" class="list-group-item list-group-item-warning">
              <span class="badge">10</span>Domestic</a>
            <a href="/jobs" class="list-group-item active">
              <h4 class="list-group-item-heading">Job offers</h4>
                <p class="list-group-item-text">Find your desired job with us</p>
            </a>
          </div>
        </table>
      </div>
    <div class="panel-footer">Tunnel Construction Jobs</div>
</div> -->

<div class="runTop" style="display: block;">
  <a href="#">
    <span class="fa fa-chevron-up"></span>
  </a>
</div>
