<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">Tunnel Construction</h1>
       <p class="slogan"> Provide worldwide construction jobs
       </p>
       <p class="lead">
         <%= link_to 'Join Us', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>

<!-- <div class="row">
  <div class="col-xs-6 col-md-6">
    <a href="/jobs" class="thumbnail">
      <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
    </a>
  </div>
  <div class="col-xs-6 col-md-6">
    <a href="/jobs" class="thumbnail">
      <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
    </a>
  </div>
  <div class="col-xs-6 col-md-6">
    <a href="/jobs" class="thumbnail">
      <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
    </a>
  </div>
  <div class="col-xs-6 col-md-6">
    <a href="/jobs" class="thumbnail">
      <%= image_tag 'pic-4.jpg', class: 'img-responsive' %>
    </a>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("pic-2.jpg", :alt => "Smiley face") %>
      <div class="caption">
        <h3>Metro</h3>
        <p>Going underground for mobility in our cities</p>
        <p>
          <a href="/jobs" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>Metro</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("pic-3.jpg", :alt => "Smiley face") %>
      <div class="caption">
        <h3>Road</h3>
        <p>High-tech tunnelling for safe highways</p>
        <p>
          <a href="/jobs" class="btn btn-success" role="button">
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Road</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("pic-4.jpg", :alt => "Smiley face") %>
      <div class="caption">
        <h3>Railway</h3>
        <p>Innovative tunnelling for fast and easy journeys</p>
        <p>
          <a href="/jobs" class="btn btn-info" role="button">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Railway</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-warning" style="margin-bottom: 100px;">
  <div class="panel-heading">
   <h3 class="panel-title">Tunnel Construction Jobs</h3>
    </div>
      <div class="well well-sm">
        <table class="table table-boldered">
          <!-- List group -->
          <div class="list-group">
            <a href="/jobs" class="list-group-item list-group-item-danger">
              <span class="badge">14</span>New</a>
            <a href="/jobs" class="list-group-item list-group-item-success">
              <span class="badge">7</span>Fat salary</a>
            <a href="/jobs" class="list-group-item list-group-item-info">
              <span class="badge">6</span>Overseas</a>
            <a href="/jobs" class="list-group-item list-group-item-warning">
              <span class="badge">10</span>Domestic</a>
            <a href="/jobs" class="list-group-item active">
              <h4 class="list-group-item-heading">Job offers</h4>
                <p class="list-group-item-text">Find your desired job with us</p>
            </a>
          </div>
        </table>
      </div>
    <div class="panel-footer">Tunnel Construction Jobs</div>
</div>
