<html style="padding-top: 52px;">
<div class="panel panel-success">
  <div class="container">
    <div class="row">
      <div class="panel-heading">
        <div class="pull-left">
          <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-default" ) %>
        </div>
      </div>

        <div class="panel-body" style="width: 95%;">
          <div class="col-md-10">

            <table class="table table-boldered table-striped custab" >
              <thead>
                <tr>
                  <td>
                    Jobs
                  </td>

                  <td>
                    Resume count
                  </td>
                  <td>
                    Wage Floor
                  </td>
                  <td>
                    Salary Cap
                  </td>
                  <td>
                    Admin Option
                  </td>
                  <td>
                    Published At
                  </td>
                </tr>
              </thead>

              <% @jobs.each do |job| %>
              <tr>
                <td>
                  <%= render_job_status(job) %>
                  <%= link_to(job.title, admin_job_path(job)) %>
                </td>
                <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
                <td> <%= job.wage_lower_bound %> </td>
                <td> <%= job.wage_upper_bound %> </td>
                <td>
                    <%= link_to("Edit", edit_admin_job_path(job), :class => "btn btn-xs btn-info") %>
                    <%= link_to("Destroy", admin_job_path(job), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>
                    <% if job.is_hidden %>
                      <%= link_to("Publish", publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-success") %>
                    <% else %>
                      <%= link_to("Hide", hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-warning") %>
                    <% end %>
                </td>
                <td>
                  <%= job.created_at %>
                </td>
              </tr>
              <% end %>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
