<hr>
<h2>- Job View -</h2>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12">
        <h3 class="panel-title">
          <%= @job.title %>
        </h3>
      </div>

    </div>
  </div>
  <div class="panel-body">
    <div class="trix-content">
      <p> <%= simple_format(@job.description) %> </p>
      <hr>
      <strong>Resume count：</strong> <%= link_to(@job.resumes.count, admin_job_resumes_path(@job)) %>
      <br>
      <strong>Location：</strong> <%= @job.location %>
      <br>
      <strong>Recruiting Number：</strong> <%= @job.recruiting_number %>
      <br>
      <strong>Compensation Package：</strong>
      <%= @job.wage_lower_bound %>$
      -
      <%= @job.wage_upper_bound %>$
      <br>
      <strong>Published At：</strong>
      <%= @job.created_at %>
    </div>
  </div>
</div>

<td>
    <%= link_to("Edit", edit_admin_job_path(@job), :class => "btn btn-xs btn-info") %>
    <%= link_to("Destroy", admin_job_path(@job), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>
    <% if @job.is_hidden %>
      <%= link_to("Publish", publish_admin_job_path(@job) , :method => :post, :class => "btn btn-xs btn-success") %>
    <% else %>
      <%= link_to("Hide", hide_admin_job_path(@job), :method => :post,  :class => "btn btn-xs btn-warning") %>
    <% end %>
</td>
